* Reset some default styles */
/* Reset some default styles */
body, h1, h2, p, ul {
  margin: 0;
  padding: 0;
}

/* Apply a background color to the entire page */
body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

/* Style the messages container */
.messages-container {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
}

/* Chatrooms Panel Styles */
.chatrooms-panel {
  width: 250px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.chatroom-switcher {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.chatroom-circle {
  width: 10px;
  height: 10px;
  background-color: #bfbfbf;
  border-radius: 50%;
  margin-bottom: 10px;
  cursor: pointer;
}

.chatroom-circle.active {
  background-color: #262626;
}

.chatroom-list {
  padding: 20px;
}

.chatroom-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chatroom-item.active {
  background-color: #f0f0f0;
}

.chatroom-name {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

.last-message {
  font-size: 14px;
  color: #888888;
}

/* Chatroom Styles */
.chatroom {
  flex-grow: 1;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.chatroom-header {
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.chatroom-title {
  font-size: 20px;
  font-weight: bold;
}

.chatroom-messages {
  padding: 20px;
}

.message {
  margin-bottom: 15px;
  overflow: hidden; /* Added to handle overflow */
}

.message-sender {
  font-weight: bold;
  margin-bottom: 5px;
}

.message-content {
  font-size: 16px;
}

/* Message Input Styles */
.message-input {
  display: flex;
  padding: 20px;
  border-top: 1px solid #e0e0e0;
}

.input-box {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
}

.send-button {
  padding: 10px;
  background-color: #262626;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

/* Style for user's messages */
.my-message {
  text-align: right;
  background-color: #b2dffb; /* Light blue background for user's messages */
  border-radius: 10px;
  margin-left: auto; /* Push user's messages to the right */
}